<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <center><h1>Success!</h1></center> <br>

        <p>Thank you <%=creator%> for contributing. You've successfully added the following item to the database.</p>
	
	<ul class="list-group list-group-flush">
  		<li class="list-group-item">Food title: <strong><%=food%></strong></li>
  		<li class="list-group-item">Values per: <strong><%=valueAmount%> <%=unit%></strong></li>
		<li class="list-group-item">Calories: <strong><%=calories%> kcal</strong></li>
		<li class="list-group-item">Carbs: <strong><%=carbs%> g</strong></li>
		<li class="list-group-item">Sugars: <strong><%=sugars%> g</strong></li>
		<li class="list-group-item">Fat: <strong><%=fat%> g</strong></li>
		<li class="list-group-item">Protein: <strong><%=protein%> g</strong></li>
		<li class="list-group-item">Salt: <strong><%=salt%> mg</strong></li>
	</ul>

    </div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>
</html>
