<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <center> <h1>All Food Items</h1> </center> <br>

                <p>Here you can see all of the food items with their nutritional information in our database.</p>
		<p>By selecting various items and entering a value for their amount, you can calculate the nutritional information for a desired recipe or meal. <strong>Give it a try!</strong></p>
		<p class="text-info">Note: Make sure the checkbox next to the item you wish to use in your recipe is checked, otherwise that item will be omitted!<p>
		<form method="GET" action="/calculateRecipe" id="calculateRecipeForm"></form>
		<div class="table-responsive-sm">	
		<table class="table table-striped table-hover table-md">
  			<thead>
    			<tr>
      				<th scope="col">Food</th>
      				<th scope="col">Typical Value</th>
     				<th scope="col">Calories</th>
      				<th scope="col">Carbs</th>
				<th scope="col">Sugars</th>
				<th scope="col">Fat</th>
				<th scope="col">Protein</th>
				<th scope="col">Salt</th>
				<th scope="col">Enter</th>
    			</tr>
  			</thead>
			<tbody>
			<% foods.forEach(function(food, i){ %>
			<tr>
				<th scope="row"><%=food.name%></th>
				<td><%=food.valueAmount%> <%=food.unit%></td>
				<td><%=food.calories%> kcal</td>
				<td><%=food.carbs%> g</td>
				<td><%=food.sugars%> g</td>
				<td><%=food.fat%> g</td>
				<td><%=food.protein%> g</td>
				<td><%=food.salt%> mg</td>
				<td>
					<div class="input-group input-group-sm">
  					<div class="input-group-prepend">
						<div class="input-group-text">
      						<input form="calculateRecipeForm" id="checkbox<%=i%>" name="checkbox<%=i%>" type="checkbox" aria-label="Checkbox for following text input">
    						</div>
 	 				</div>
					<input form="calculateRecipeForm" type="number" class="form-control" aria-label="Food amount" id="calcAmount<%=i%>" name="calcAmount<%=i%>" placeholder="e.g. 100.00" min="0.00" max="200.0" step="0.01">
  					<div class="input-group-append">
    						<span class="input-group-text"><%=food.unit%></span>
  					</div>
					<input form="calculateRecipeForm" type="hidden" class="form-control" id="foodName<%=i%>" name="foodName<%=i%>" value="<%=food.name%>" readonly>
					</div>
				</td>
			</tr>
			<% }) %>
			</tbody>
		</table>
		</div>

		<button form="calculateRecipeForm" type="submit" class="btn btn-primary float-right">Calculate Recipe</button>
    </div>
</main>

<footer>
    <%- include('partials/footer'); %>
</footer>

</body>
</html>

